<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>thymeleafのテスト</h1>
    <button onclick="location.href='/get'">なんかを取得</button><br>
    <form action="/add" method="post">
        <label for="name">なめ:</label>
        <input type="text" id="name" name="name" required><br><br>
        <button type="submit">なんかを投稿</button>
    </form>
    <form action="/edit" method="post">
        <label for="id">id:</label>
        <input type="text" id="id" name="id" required><br><br>
        <label for="name">変更するなめ:</label>
        <input type="text" id="name" name="name" required><br><br>
        <button type="submit">なんかを編集</button>
    </form>
</body>            
</html>